doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1')
    title Portfolio Jr.
    script(src="https://use.fontawesome.com/f728926bfa.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  body
    main
      section.wrapper
        include ./includes/header.jade
        include ./includes/apts.jade

          
//- firebase
//- script(src='https://www.gstatic.com/firebasejs/5.9.4/firebase.js')
//- script.
//-   // Initialize Firebase
//-   var config = {
//-   apiKey: "AIzaSyCxjSO5u9_ytnoG5dJBCA5j2vd4vtmsXps",
//-   authDomain: "ddaniil-portfolio.firebaseapp.com",
//-   databaseURL: "https://ddaniil-portfolio.firebaseio.com",
//-   projectId: "ddaniil-portfolio",
//-   storageBucket: "ddaniil-portfolio.appspot.com",
//-   messagingSenderId: "18601793739"
//-   };
//-   firebase.initializeApp(config);
//- firebase-end
//- <script src="./src/js/index.js"></script>