section.apts-sort
  section.apts-sort--select
    .apts-sort--select__dropdown(id="dd")
      span Сортировать по цене
      ul.dropdown
        li
          a(href="#") По цене, сначала дешевле 
        li
          a(href="#") По цене, сначала дороже
        li
          a(href="#") По площади, сначала меньше
        li
          a(href="#") По площади, сначала больше      
  section.apts-sort--radio
    div Показать все квартиры